<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataAccessFactoryConfiguration" type="KAF.AppConfiguration.Configuration.ConfigurationSectionHandler, KAF.AppConfiguration, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <dataAccessFactoryConfiguration>
    <DataAccessFactory typeName="KAF.DataAccessObjects.DataAccessFactory" assemblyName="KAF.DataAccessObjects, Version=1.0.0.0, Culture=neutral"/>
  </dataAccessFactoryConfiguration>
  <dataConfiguration defaultDatabase="KAFApplicationService"/>
  <connectionStrings>
    <add name="KAFApplicationService" connectionString="Data Source=192.168.25.107;User ID=sa;Password=121212;Initial Catalog=KAF_VCPortal_V1.0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>