
@{
    ViewBag.Title = KAF.MsgContainer._owin_userpasswordresetinfo.owin_userpasswordresetinfoList;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                @{
                    KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                    if (objSecPanel.checkButtonPermission("OwinUserPasswordResetInfo/OwinUserPasswordResetInfoNew"))
                    {
                        <button type="submit" class="btn btn-primary btn-md"  id="btnNewOwinUserPasswordResetInfo">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                        </button>
                    }
                }
            </div>
            <div class="panel-body">
                <table id="OwinUserPasswordResetInfoDt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
							 <th>@KAF.MsgContainer._owin_userpasswordresetinfo.sessionid</th>                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-OwinUserPasswordResetInfoNew" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserPasswordResetInfoNew">
        </div>
    </div>
</div>

<div id="modal-container-OwinUserPasswordResetInfoEdit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserPasswordResetInfoEdit">
        </div>
    </div>
</div>

<div id="modal-container-OwinUserPasswordResetInfoDetail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserPasswordResetInfoDetail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUserPasswordResetInfo/LandingOwinUserPasswordResetInfo.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUserPasswordResetInfo/NewOwinUserPasswordResetInfo.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUserPasswordResetInfo/EditOwinUserPasswordResetInfo.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUserPasswordResetInfo/DetailOwinUserPasswordResetInfo.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';
    </script>
}



