
@{
    ViewBag.Title = KAF.MsgContainer._gen_okp.okpList;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                @{
                    KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                    if (objSecPanel.checkButtonPermission("GenOkp/GenOkpNew"))
                    {
                        <button type="submit" class="btn btn-primary btn-md"  id="btnNewGenOkp">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                        </button>
                    }
                }
            </div>
            <div class="panel-body">
                <table id="GenOkpDt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
							 <th>@KAF.MsgContainer._gen_okp.okpname</th>                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-GenOkpNew" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcGenOkpNew">
        </div>
    </div>
</div>

<div id="modal-container-GenOkpEdit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcGenOkpEdit">
        </div>
    </div>
</div>

<div id="modal-container-GenOkpDetail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcGenOkpDetail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/GenOkp/LandingGenOkp.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/GenOkp/NewGenOkp.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/GenOkp/EditGenOkp.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/GenOkp/DetailGenOkp.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';
    </script>
}



