
@{
    ViewBag.Title = KAF.MsgContainer._owin_user.owin_userList;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                @{
                    KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                    if (objSecPanel.checkButtonPermission("OwinUser/OwinUserNew"))
                    {
                        <button type="submit" class="btn btn-primary btn-md"  id="btnNewOwinUser">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                        </button>
                    }
                }
            </div>
            <div class="panel-body">
                <table id="OwinUserDt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
							 <th>@KAF.MsgContainer._owin_user.applicationid</th>                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-OwinUserNew" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserNew">
        </div>
    </div>
</div>

<div id="modal-container-OwinUserEdit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserEdit">
        </div>
    </div>
</div>

<div id="modal-container-OwinUserDetail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcOwinUserDetail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUser/LandingOwinUser.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUser/NewOwinUser.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUser/EditOwinUser.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/OwinUser/DetailOwinUser.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';
    </script>
}



