
<br />
<div>
    <div id="dZUpload" class="dz-default dz-message box__input dropzone">
        <i class="fa fa-cloud-upload" style="font-size:23px;position:relative;top:4px;"></i> <span style="margin-left:20px">Drop files  to attach or browse</span>
        <div class="dz-default dz-message"></div>
    </div>
</div>
<br />
