
@{ string id = ViewBag.ddlId, cssclass = ViewBag.ddlcss; bool enable = ViewBag.enable; bool validatedyn = ViewBag.validatedyn;

    var attributes = new System.Collections.Generic.Dictionary<string, object>();

    attributes.Add("id", id);
    attributes.Add("name", id);
    attributes.Add("class", cssclass);

    if (!enable)
    {
        attributes.Add("disabled", "disabled");
    }

    if (validatedyn)
    {
        attributes.Add("data-val", "true");
        attributes.Add("data-val-required", "Please select item from the list.");
    }

   
}

@Html.DropDownList(id, (List<SelectListItem>)ViewBag.ddlName, "- اختر واحدة -", attributes)
@{
    if (validatedyn)
    {
        <span class="field-validation-valid text-danger" data-valmsg-for="@id" data-valmsg-replace="true"></span>
        <div class="help-block with-errors"></div>
    }
}



