@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@


@if (ViewData["error"] == null)
{
   
}
else
{
    @Html.Raw(ViewData["error"].ToString())
}

<div style="font-weight:bold;color:red;">
    Error, do something!!!
</div>