
@model KAF.BusinessDataObjects.rptm_allreportinfoEntity
@{
    ViewBag.Title = "Report Panel";
}
<style>
    .detailheading {
        background-color: darkgray !important;
    }

    .buttonpanelcenter {
        text-align: center;
    }

    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
@{
    if (System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant().ToLower() == "ar-kw")
    {
        <style>
            .actionbuttonletright {
                text-align: left;
            }
        </style>
    }
    else
    {
        <style>
            .actionbuttonletright {
                text-align: right;
            }
        </style>
    }
}


@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmRPTMAllReportInfo", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                   Daily Manpower State
                </div>
                <div class="panel-body">

                  
                    <div id="dv_profile" class="row  row-report">


                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Date", htmlAttributes: new { @class = "labelNormal " })

                                <div class='input-group date dateonly' id='' style="width: 100%; ">
                                    @Html.Editor("txtdate", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div id="dvbtn" class="row ">
                        <div class="form-group">
                            <div class="col-md-3">
                                <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block">Load Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row " id="divReport">

    </div>


}


@section Scripts {
    <script>
        function GetDateFromTextBox(strdate) {
            if (strdate != "" && typeof strdate !== 'undefined') {
                if (strdate.indexOf('T') != -1)
                    strdate = strdate.substring(0, strdate.indexOf('T') - 1).trim();

                var dtspl1 = strdate.split("-");
                var retdate = new Date(dtspl1[2], dtspl1[1] - 1, dtspl1[0]);
                retdate = retdate.toISOString();
                //var retdate = $(strdate).val();
                return retdate;
            }
        }
        $(document).ready(function () {

            $j('.dateonly').datetimepicker(
                {
                    // format: 'L'
                    format: 'DD-MM-YYYY'
                });

            $(".select2-selection__placeholder").text('ALL OKP');

            $('#btnSearch').click(function () {

                var searchText = "";
               
                if ($("#txtdate").val().length > 0) {
                    searchText = "&date=" + $("#txtdate").val();


                    $("#divReport").removeClass("hidden");

                    var src = '../Reports/ParadeStateReport.aspx?reporttype=1';
                    //We can add parameters here
                    src = src + searchText

                    var iframe = '<iframe id="myReportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                    $("#divReport").html(iframe);
                }
                else {
                    inforamtionDialog("Alert", "Date is Required", _getCookieForLanguage("_btnOK")).then(function (answer) {
                        if (answer == "true") {

                        }
                    });
                }


            });

        });
        function loadselectedpassportletterno() { }
    </script>

}





