
@{
    ViewBag.Title = "Family Passport";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                @{
                    KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                    if (objSecPanel.checkButtonPermission("HrFamilyPassportInfo/HrFamilyPassportInfoNew"))
                    {
                        <button type="submit" class="btn btn-primary btn-md"  id="btnNewHrFamilyPassportInfo">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                        </button>
                    }
                }
            </div>
            <div class="panel-body">
                <table id="HrFamilyPassportInfoDt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
							 <th>@KAF.MsgContainer._hr_familypassportinfo.familypassportno</th>                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-HrFamilyPassportInfoNew" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcHrFamilyPassportInfoNew">
        </div>
    </div>
</div>

<div id="modal-container-HrFamilyPassportInfoEdit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcHrFamilyPassportInfoEdit">
        </div>
    </div>
</div>

<div id="modal-container-HrFamilyPassportInfoDetail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mcHrFamilyPassportInfoDetail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/HRJS/HrFamilyPassportInfo/LandingHrFamilyPassportInfo.js" ></script>
    <script src="~/DesignsAndScripts/PageWise/HRJS/HrFamilyPassportInfo/NewHrFamilyPassportInfo.js"></script>
    <script src="~/DesignsAndScripts/PageWise/HRJS/HrFamilyPassportInfo/EditHrFamilyPassportInfo.js"></script>
    <script src="~/DesignsAndScripts/PageWise/HRJS/HrFamilyPassportInfo/DetailHrFamilyPassportInfo.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';
    </script>
}



