@model KAF.BusinessDataObjects.hr_replacementinfoEntity

<tr role="row">
    <td style="width:100px"><input type="number" class="form-control txtMilNo" onchange="getMilPersonalInfo(this)" /> </td>
    <td class="lblRankName"></td>
    <td class="lblName"></td>
    <td class="lblAppt"></td>
    <td class="lblOKP"></td>
    <td>
        <div class="btn-toolbar pull-right " role="toolbar">
            <button disabled="disabled" class="btn btn-danger btn-md hidden" onclick="HrReplacementDeleteDetail(this)"><i class="fa fa-trash"></i> Delete</button>
        </div>
    </td>
</tr>

